:root {
  --brand-color: #e07b67;
  --dark-10: #121214;
  --dark-20: #17171a;
  --dark-30: #202024;
  --dark-40: #252529;
  --dark-50: #afabb6;
  --dark-60: #ffffff;

  --font-space-grotesk: "Space Grotesk", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark-10);
}

body,
input {
  font-family: "Inter", sans-serif;
  color: var(--dark-60);
}

header {
  padding: 48px 24px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--dark-20);

  h1 {
    font-size: 24px;
    font-family: var(--font-space-grotesk);
    font-weight: 500;

    span {
      color: var(--brand-color);
    }
  }

  div {
    position: relative;
    width: 100%;
    max-width: 1216px;
    display: flex;
    align-items: center;

    svg {
      position: absolute;
      left: 24px;
    }

    input {
      height: 50px;
      width: 100%;
      padding: 0 24px;
      padding-left: 54px;
      background: var(--dark-30);
      border: 2px solid var(--dark-40);
      border-radius: 8px;
      font-size: 14px;
      font-weight: 500;
      font-family: "Inter", sans-serif;
    }
  }

  @media (width >= 768px) {
    padding: 64px 32px;
    gap: 48px;

    h1 {
      font-size: 64px;
    }

    div svg {
      height: 32px;
      width: 32px;
    }

    div input {
      height: 64px;
      padding-left: 72px;
      font-size: 28px;
    }
  }

  @media (width >= 1240px) {
    padding: 64px 0;
  }
}
main {
  padding: 40px 24px;

  ul {
    margin: 0 auto;
    max-width: 1216px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;
  }

  @media (width >= 768px) {
    padding: 56px 32px;
  }

  @media (width >= 1940px) {
    padding: 80px 0px;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(40px);
    opacity: 0.25;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.article {
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  background: var(--dark-20);
  border: 2px solid var(--dark-40);
  border-radius: 8px;
  animation: slide-in 0.4s ease-out;
  transition: 0.2s ease-out;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    time {
      font-size: 12px;
      font-weight: 500;
      color: var(--brand-color);
    }

    svg {
      color: transparent;

      &:hover {
        color: var(--brand-color);
        cursor: pointer;
        transition: 0.2s ease-out;
        filter: drop-shadow(0 0 2px pink);
      }

      &:active {
        transform: scale(1.4);
      }
    }
  }

  strong {
    margin: 20px 0 16px;
    font-family: var(--font-space-grotesk);
    font-size: 20px;
    font-weight: 500;
  }

  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    color: var(--dark-50);
  }

  &:nth-of-type(2) {
    animation-delay: 0.2s;
  }

  &.active {
    border-color: var(--brand-color);

    svg {
      color: var(--brand-color);
    }
  }

  @media (width >= 768px) {
    padding: 40px;

    div time {
      font-size: 14px;
    }

    div svg {
      height: 24px;
      width: 24px;
    }

    p {
      font-size: 16px;
    }
  }

  @media (width >= 1240px) {
    div time {
      font-size: 16px;
    }

    div svg {
      height: 32px;
      width: 32px;
    }

    p {
      font-size: 20px;
    }
  }
}
